body {
  background-color: #eee; }
  body .navbar-inverse {
    background-color: #4cae4c;
    border-color: #4cae4c; }
    body .navbar-inverse .navbar-brand {
      color: #ffffff !important; }
  body form {
    margin-top: 35px; }
    body form h4 {
      margin-left: 75px !important; }
    body form .form-group {
      margin-top: 20px; }
      body form .form-group #dropdownMenu1 {
        width: 100%; }
    body form .btn-success {
      width: 160px;
      margin-top: 10px;
      margin-left: 10px; }
  body #tdList thead {
    background: #013bfc;
    color: #fff; }
  body .content {
    margin-top: 40px; }
  body .element {
    margin-top: 12px;
    background-color: #fff;
    font-size: 14pt;
    border-radius: 4px;
    height: 3em;
    line-height: 3em; }
  body .members {
    min-height: 195px;
    background-color: #ffffff;
    margin-top: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px double #dddddd; }
    body .members .container {
      padding-left: 0px;
      padding-right: 0px; }
    body .members .member {
      min-height: 26px;
      background-color: #f7f7f7;
      position: relative; }
      body .members .member p {
        margin-left: 15px;
        font-size: 10.5pt;
        margin-bottom: 0px;
        margin-top: 4px;
        position: absolute; }
      body .members .member input {
        margin-top: 8px; }
  body #footer {
    bottom: 0;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    text-align: right; }
