body {
  background-color: #eee; }
  body .navbar-inverse {
    background-color: #4cae4c;
    border-color: #4cae4c; }
    body .navbar-inverse .navbar-brand {
      color: #ffffff !important; }
  body form {
    margin-top: 35px; }
    body form h4 {
      margin-left: 75px !important; }
    body form .form-group {
      margin-top: 20px; }
    body form .btn-success {
      width: 160px;
      margin-top: 10px;
      margin-left: 10px; }
  body #tdList thead {
    background: #013bfc;
    color: #fff; }
  body .content {
    margin-top: 40px; }
  body .element {
    margin-top: 12px;
    background-color: #fff;
    font-size: 14pt;
    border-radius: 4px;
    height: 3em;
    line-height: 3em; }
  body #footer {
    bottom: 0;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    text-align: right; }
