.day {
  width: 260px;
  height: 250px;
  float: left;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.57);
  margin-left: 20px;
  margin-top: 8px;
  overflow: hidden;
  background-color: #fff; }

.time {
  text-align: center;
  font-size: 16px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black; }

.humidity {
  margin-left: 20px;
  font-size: 16px !important; }

.wind_speed {
  margin-left: 20px;
  font-size: 16px !important; }

.description {
  margin-left: 20px;
  font-size: 16px !important; }
