body {
  background-color: #eee; }

p {
  margin-bottom: 5px !important; }

.navbar-inverse {
  background-color: #337ab7;
  border-color: #337ab7; }

.navbar-brand {
  color: #fff !important; }

.search-city {
  padding-top: 15px;
  padding-bottom: 10px; }

.search-text {
  text-align: center; }

.day {
  height: 250px;
  float: left;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.57);
  margin-left: 30px;
  margin-top: 8px;
  overflow: hidden;
  background-color: #fff; }

.time {
  text-align: center;
  font-size: 14px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-top: 5px; }

.humidity {
  margin-left: 10px;
  font-size: 12px !important; }

.wind_speed {
  margin-left: 10px;
  font-size: 12px !important; }

.description {
  margin-left: 10px;
  font-size: 12px !important; }
