body {
	background-color: #eee;
	
	.navbar-inverse{
		background-color: #4cae4c;
		border-color: #4cae4c;
		
		.navbar-brand {
			color: #ffffff !important;
		}
	}
	
	form{
		margin-top: 35px;
		h4{
			margin-left: 75px !important;
		}
		.form-group{
			margin-top: 20px;
			
		}
		.btn-success{
			width: 160px;
			margin-top: 10px;
			margin-left: 10px;
		}
	}
	
	#tdList thead{
		background: #013bfc;
		color: #fff;
	}
	
	#footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		margin: auto;
		text-align: right;
	}
}






//.field{
//	margin-top: 50px;
//	text-align: center;
//}
